name: Continuous Integration for Frontend

on:
  push:
    branches:
      - main

jobs:
  testing:
    name: Testing Frontend
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run Build App
        run: 
            npm ci
            npm run build
        env:
          CI: ""

      - name: Set up MongoDB URI
        run: echo "SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/frontend" >> $GITHUB_ENV

  # sonar-cloud-scan:
  #   needs: testing
  #   uses: ./.github/workflows/sonarqube-scan.yaml
  #   secrets: 
  #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-image:
    needs: testing
    uses: ./.github/workflows/build-image.yaml
    secrets:
      DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

#   scan-image:
#     needs: build-image
#     uses: ./.github/workflows/scan-image.yaml

  # notify:
  #   needs: scan-image
  #   uses: ./.github/workflows/notifyCI.yaml
  #   secrets:
  #     SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  ### Push image ###